/*
Youtube Haiku Player 0.1
Author: Simone Cingano (me@yupswing.it)
Repository: https://github.com/yupswing/youtubehaiku.net
Licence: MIT
*/
* {
  // avoid a without href to be highlighted when clicked on mobile
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
}

a,
a:active,
a:focus,
a:hover {
  color: white;
  text-decoration: underline;
  cursor: pointer;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: black;
  font-family: Lato, sans-serif;
}

.player {
  margin: 0;
  width: 100%;
  height: calc(100vh - 72px);
  z-index: 0;
}

.overlay {
  display: none;
  position: absolute;
  width: 100%;
  height: calc(100vh - 72px);
  z-index: 1;
  background: black;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  background: rgba(0,0,0,0.5);
  overflow-y: auto;

  .box {
    position: relative;
    color: #eee;
    border: 2px solid #999;
    width: 80%;
    max-width: 500px;
    font-size: 14px;
    padding: 20px;
    background: rgba(0,0,0,0.5);
    border-radius: 20px;
    margin: 50px auto;

    .tube {
      display: inline-block;
      padding: 2px;
      background: #e52d27;
      border-radius: 10px;
    }

    h1 {
      display: block;
      margin: 0;
      font-size: 30px;
      text-align: center;
    }

    .buttons {
      text-align: center;

      .button {
        display: inline-block;
        text-decoration: none;
        font-size: 18px;
        cursor: pointer;
        border-radius: 8px;
        margin: 10px;
        background: #eee;
        border: 1px solid #ccc;

        > span {
          display: inline-block;
          border-radius: 8px;
          padding: 3px;
          width: 30px;
          text-align: center;
          background: #e52d27;
          border-bottom: 3px solid #b31217;
          float: left;
          color: #eee;
          text-shadow: 0 0 5px #b31217;

          &.back {
            background: #666;
            border-bottom: 3px solid #444;
            text-shadow: 0 0 5px #444;
          }

          &.success {
            background: #29B31E;
            border-bottom: 3px solid #1C7914;
            text-shadow: 0 0 5px #1C7914;
          }

          &.danger {
            background: #666;
            border-bottom: 3px solid #444;
            text-shadow: 0 0 5px #444;
          }
        }

        > label {
          cursor: pointer;
          font-size: 13px;
          color: #333;
          display: inline-block;
          padding: 8px 20px 0;
          text-align: center;
          width: 130px;
        }
      }
    }
  }
}

.logo {
  display: block;
  text-decoration: none;
  position: absolute;
  bottom: 80px;
  left: 10px;
  z-index: 100;
  color: white;
  cursor: pointer;
  font-size: 25px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 5px 10px;

  &:hover {
    text-decoration: none;
  }
}

.loadingbar_block {
  position: absolute;
  bottom: 0;
  background: transparent;
  height: 4px;
  width: 100%;
  z-index: 200;
  text-align: right;
  font-size: 0;
  overflow: hidden;

  .loadingbar {
    height: 4px;
    display: inline-block;
    background: #f42323;
    background-image: linear-gradient(to bottom, #b31217, #e52d27);
    transition: width 0.1s ease;

    &.buffering:after {
      animation: move 2s linear infinite;
      content: "";
      position: absolute;
      top: 0;
      width: 100%;
      left: 0;
      bottom: 0;
      right: 0;
      background-image: linear-gradient( -45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent );
      z-index: 100;
      background-size: 20px 20px;
      animation: move 2s linear infinite;
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      overflow: hidden;
    }
  }
}
@keyframes move {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 20px 20px;
  }
}

.bar {
  position: absolute;
  height: 69px;
  background: #222;
  width: 100%;
  bottom: 0;
  border-top: 2px solid #444;

  .current {
    color: #fff;
    position: absolute;
    right: 10px;
    bottom: 10px;
    text-align: right;
    width: 45%;
    overflow: hidden;
  }

  .buttons {
    position: absolute;
    z-index: 100;
    right: 10px;
    bottom: 51px;
    text-align: right;
    width: 45%;
    overflow: hidden;

    .button {
      display: inline-block;
      border-radius: 100px;
      padding: 5px;
      text-align: center;
      text-decoration: none;
      width: 20px;
      height: 20px;
      margin: 0 0 0 10px;
      border-bottom: 1px solid #000;
      text-shadow: 0 0 3px #000;
      // border: 1px solid #999;
      color: #aaa;
      background-color: #353535;
      font-size: 18px;
      cursor: pointer;
      position: relative;
      transition: color 0.5s ease;

      i {
        display: inline-block;
        position: absolute;
        top: 7px;
        right: 0;
        left: 0;
      }

      &:hover {
        color: white;
      }
    }
  }

  .next {
    color: #aaa;
    position: absolute;
    left: 0;
    height: 100%;
    width: 45%;
    overflow: hidden;

    .thumbnail {
      background: #fff;
      margin-right: 10px;
      height: 70px;
      width: 93px;
      float: left;
    }
  }
}

.title {
  width: 100%;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#title {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  font-size: 18px;
}
@media screen and (max-width: 600px) {
  .bar {
    .next {
      display: none;
    }

    .buttons,
    .current {
      width: 90%;
    }
  }
}

.tag {
  border: 1px solid #eee;
  font-weight: bold;
  color: #ccc;
  display: inline-block;
  padding: 1px 3px;
  border-radius: 5px;
  background: #333;
  text-transform: uppercase;

  &.small {
    font-size: 8px;
    margin-bottom: 2px;
  }
}

.bg_other {
  background: #333 !important;
  color: #eee;

  label {
    color: #eee;
  }
}

.bg_haiku {
  background-color: #191CC1 !important; // original #191CC1
  color: #eee;

  label {
    color: #eee;
  }
}

.bg_meme {
  background-color: #A10000 !important; // original #A10000
  color: #eee;

  label {
    color: #eee;
  }
}

.bg_poetry {
  background-color: #EAD00E !important; // original #EAD00E
  color: #333;

  label {
    color: #333;
  }
}
/* KBD style from https://github.com/michaelhue/keyscss */
kbd {
  display: inline;
  display: inline-block;
  min-width: 1em;
  padding: 0.2em 0.3em;
  font: normal 0.85em/1 "Lucida Grande", Lucida, Arial, sans-serif;
  text-align: center;
  text-decoration: none;
  -moz-border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
  border-radius: 0.3em;
  border: none;
  cursor: default;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  background: rgb(250, 250, 250);
  background: -moz-linear-gradient(top, rgb(210, 210, 210), rgb(255, 255, 255));
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(210, 210, 210)), to(rgb(255, 255, 255)));
  color: rgb(50, 50, 50);
  text-shadow: 0 0 2px rgb(255, 255, 255);
  -moz-box-shadow: inset 0 0 1px rgb(255, 255, 255), inset 0 0 0.4em rgb(200, 200, 200), 0 0.1em 0 rgb(130, 130, 130), 0 0.11em 0 rgba(0, 0, 0, .4), 0 0.1em 0.11em rgba(0, 0, 0, .9);
  -webkit-box-shadow: inset 0 0 1px rgb(255, 255, 255), inset 0 0 0.4em rgb(200, 200, 200), 0 0.1em 0 rgb(130, 130, 130), 0 0.11em 0 rgba(0, 0, 0, .4), 0 0.1em 0.11em rgba(0, 0, 0, .9);
  box-shadow: inset 0 0 1px rgb(255, 255, 255), inset 0 0 0.4em rgb(200, 200, 200), 0 0.1em 0 rgb(130, 130, 130), 0 0.11em 0 rgba(0, 0, 0, .4), 0 0.1em 0.11em rgba(0, 0, 0, .9);
}

kbd[title] {
  cursor: help;
}
